.homepage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  /*//////////////////////////////////////////////////////////////////
  [ FONT ]*/


  /*//////////////////////////////////////////////////////////////////
  [ RESTYLE TAG ]*/

  /*---------------------------------------------*/
  
  > a:hover {
    text-decoration: none;
    color: #57b846;
  }
  /*---------------------------------------------*/
  > input {
    outline: none;
    border: none;
  }
  /*---------------------------------------------*/
  > button {
    outline: none;
    border: none;
    background: transparent;
  }

  > button:hover {
    cursor: pointer;
  }
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/

  > .txt2 {
    font-family: Poppins-Regular;
    font-size: 0.9em;
    line-height: 1.5;
    color: #666666;
    cursor: pointer;
  }

/*------------------------------------------------------------------
[  ]*/
> .login100-pic {
  max-width: 50%;
}

> .login100-pic img {
  max-width: 100%;
}

/*------------------------------------------------------------------
[  ]*/
> .login100-form {
  max-width: 50%;
}

> .login100-form-title {
  font-family: Poppins-Bold;
  font-size: 2em;
  color: #333333;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 1.8em;
}

/*------------------------------------------------------------------
[ Responsive ]*/

  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    
    flex-direction: column;
    > .login100-form {
      max-width: 100%;
    }
    > .login100-pic {
      max-width: 100%;
    }
    > .input100 {
      width: 100%;
    }
  }
}